:root{
    --primario: aliceblue;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    border: 1px solid red;
    width: auto;
    height: 100px;
    padding: 10px;
    display: block;
}
nav{
    border: 1px solid rgb(17, 0, 255);
    width: auto;
    height: 20px;
    padding: 10px;
    display: block;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid green;
    background-color: rgb(219, 255, 227);
    width: 80%;
    height: 100vh;
    margin: auto;
}
section{
    border: 1px solid pink;
    width: 80%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 0px;
    list-style: none;
    /* overflow:hidden; */
}

.container-recetas{
    border: 15px solid rgb(43, 0, 201);
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
    list-style: none;
    border-radius: 25%;
    background-color: var(--primario);
    animation: moverse 1s infinite;
}

section a{
    border: 1px solid blue;
    text-decoration: none;
    color: black;
    margin: 40px 20px;
    padding: 18px 15px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 3rem;
    border-radius: 50%;
    background-color: blue;
    
}
@keyframes moverse {
    0%{
        bottom:0;
    }
    50%{
        bottom:20px;
    }
    100%{
        bottom:0;
    }
}

.bob{
    width: 250px;
    height: 250px;
    background-image: url(./images/bob.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    top: 100%;
    right: 20%;

}