@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blanco: #DBD3AD;
    --blush: #E0607E;
    --rojo: #D36060;
    --marron: #C2714F;
    --beige: #F6C5AF;
    --flecha: ↓;
    --family: 'Nunito'
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----------- header----------*/

header{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
header:hover{
    background-color: var(--blanco);
    transition: 1.5s all ease-in-out;
}
header:not(hover){
    background-color: transparent;
    transition: 2s all ease-in-out;
}
.items-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 0px 50px;
}
.items-modal a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 1s all ease-in-out;
    font-family: 'Nunito';
}
.items-modal a:hover{
    color: var(--marron);
    text-shadow: 2px 20px 10px #aca582;
}


/*----------- fin header----------*/



/*---------- Hero -----------*/

#hero{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
     background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video-fondo{
    width: 100%;
    height: 100vh;
    z-index: -100;
    position: absolute;
    object-fit: cover;
}
.container-titulo h1, p{
    color: var(--blanco);
    font-family: 'Courier New', Courier, monospace;
    font-family: "Nunito", sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.container-titulo h1{
    font-size: 80px;
}
.container-titulo p::after{
    content: "↓";
    color: var(--beige);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.container-redes{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.container-redes i img{
    width: 50px;
    height: 50px;
    
}


/*---------- Fin Hero -----------*/



span{
    width: 50vw;
    height: 1px;
    border: 1px solid var(--blanco);
    display: block;
    margin: 40px auto;
}


/* --------portfolio ---------*/
#portfolio{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
}
aside h4{
    font-family: 'nonuto';
    padding-bottom: 2%;
    font-size: large;
    margin-top: 10px;
    font-family: var(--family);
}
aside ul{
    list-style: none;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--family);
    font-size: 25px;
}
aside span{
    background-color: var(--blush);
    width: 50vw;
    height: 1px;
    border: 1px solid var(--blush);
}
#portfolio aside{
    width: 20%;
    background-color: var(--blanco);
}
#portfolio .container-portfolio{
    width: 70%;
    background-color: blue;
    display: grid; 
    grid-template-columns: 0.8fr 1.1fr 0.9fr 1.1fr; 
    grid-template-rows: 1.1fr 1.9fr 1fr; 
}
.container-portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container-paginas{
    position: fixed;
    right: 2%;
    top:50%;
}






/* -------- fin portfolio ---------*/