@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blanco: #DBD3AD;
    --blush: #E0607E;
    --rojo: #D36060;
    --marron: #C2714F;
    --beige: #F6C5AF;
    --flecha: ↓;
    --family: 'Nunito'
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 


/*----------- header----------*/

header{
    width: 100%;
    background-color: var(--blanco);
    display: flex;
/*     justify-content: center;
    align-items: center; */
    height: 8vh;
    position: fixed;
    z-index: 1;
    gap: 0 5%;
}

.container-logo{
    position: relative;
    height: 100%;
    justify-self: start;
}
header .container-logo img{
    width: 100px;
/*     height: auto; */
    object-fit: cover;
/*     position: absolute; */
    top: 0%;
    right:0;
}
header div:nth-child(3){
    justify-self: end;
    background-color: #C2714F;
    border: 1px solid black;
}
.container-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    font-family: 'nunito';
    font-size: 25px;
    border: 1px solid beige;
}
.container-items a{
    text-decoration: none;
    color: black;
    position: relative;
    transition: 1s all ease-in-out;
}
.container-items a:hover{
    color: var(--marron);
}
.container-items a::after{
    content: "";
    width: 0%;
    height: 1px;
    color: var(--marron);
    background-color: #C2714F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-items a:hover::after{
    width: 100%;
    transition: 1s width ease;
}
.container-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-lupa input{
    width: 200px;
    border: #C2714F;
    outline: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 25px;
}
.container-lupa input::placeholder{
    padding: 5px 10px;
    color: var(--marron);
}



/*----------- fin header----------*/
/*----------- nav----------*/


nav{
    height: 35px;
    width: 100%;
    background-color: #C2714F;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.container-novedades p{
    color:var(--rojo);
    font-size: 20px;
}






/*------------fin nav--------------*/





/*---------- Hero -----------*/

#hero{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
        background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)
    );
    position: relative;

}
#hero h2{
    color: red;
    justify-items: center;
    align-self: center;

}
#hero .redes{
    position: absolute;
    bottom: 0;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.video-fondo{
    width: 100%;
    height: 100vh;
    z-index: -100;
    position:absolute;
    object-fit: cover;
}



/*---------- Fin Hero -----------*/


/*----------Main -------------*/
main{
    display: grid;
    width: 70%;
    height: 100vh;
    grid-template-areas: 
    'aside productos publicidad';
    grid-template-rows: repeat(0.5fr);
    grid-template-columns: 0.2fr 1.5fr 0.2fr;
    margin: 0 auto;
}
.aside{
    grid-area: aside;
    border: 1px solid black;
}
.container-productos{
    grid-area: productos;
    border: 1px solid pink;
}
.publicidad{
    grid-area: publicidad;
    border: 1px solid green;
}



/*----------Fin Main -------------*/
