@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blanco: #EEF5DB;
    --verde: #D6D1B1;
    --rojo: #FE5F55;
    --marron: #F0B67F;
    --beige: #D6D1B1;
    --flecha: ↓;
    --family: 'Nunito'
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
} 

/*------- Body ----------*/

body{
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid; 
    grid-template-columns: 0.4fr 1.3fr 1.3fr; 
    grid-template-rows: 0.5fr 0.2fr 4.8fr 0.5fr; 
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside menu menu"
        "footer footer footer"; 
    min-height: 100vh;
}


/*------- Fin Body ----------*/

/*------- Header -------------*/
header{
    grid-area: header;
    /* background-color: #D6D1B1; */
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-logo{
    background-color: #9198e5;
}
.container-logo h1{
    font-family: 'Nunito';
    padding: 0px 20px;
}
.container-items{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.container-items li{
    color: black;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container-items li:hover{
    color: #9198e5;
}

 .container-items li::after{
    content: "";
    background-color: #9198e5;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    transition: width 0.3s ease;
}

.container-items li:hover::after{
    width: 100%;
}


/*------- Fin Header -------------*/

/*------- nav -------------*/
nav{
    grid-area: nav;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #9198e5;
    position: relative;
    padding: 10px;
}
nav p{
    position: absolute;
    left: 0;
    animation: end infinite 10s ease;
}


/*------- nav fin -------------*/



/*------- aside -------------*/
aside{
    grid-area: aside;
    border: 1px solid blueviolet;
}


/*------- fin aside -------------*/


/*------- main -------------*/
main{
    grid-area: menu;
    border: 1px solid blue;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    align-items: center;
}

.cuadro-uno{
    background: black;
    width: 100%;
    height: 100px;
    grid-column: 7/13;
}
.cuadro-dos{
    background: red;
    height: 100px;
    width: 100px;
    grid-column: 7/8;
    grid-row: 1;
}
.cuadro-tres{
    background: white;
    height: 100px;
    width: 100px;
}


/*------- fin main -------------*/

/*------- footer -------------*/
footer{
    grid-area: footer;
    border: 1px solid brown;
}
/*------- fin footer -------------*/